body {
    background-color: #fafafa;
}

.course-video {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
}

.course-video video {
    width: 100%;
    height: 100%;
}

.course-btns {
    margin: 20px;
}

.course-btns .btn {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    margin: 0 20px;
    color: #fff;
}

@media (max-width:600px) {
    .course-btns .btn {
        width: 100%;
        margin: 10px 0 0 30px;
    }
}

.course-btns .btn:hover {
    filter: grayscale(0.3);
}

.card {
    border: 1px solid #e9ecef;
    margin-bottom: 1.875rem;
    border-radius: 0
}

.card-body {
    padding: 1.5rem
}

.card-title {
    margin-bottom: 15px
}

.card-header {
    border-bottom: 1px solid #f0f0f0;
    padding: 1rem 1.5rem
}

.card .card-header {
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0
}

.card .card-header .card-title {
    margin-bottom: 0
}

.form-control:focus {
    border-color: #bbb;
    box-shadow: none;
    outline: 0
}

.notification-title select:focus-visible {
    outline: 0
}

.notification-title select:focus-visible {
    outline: 0
}

:focus,
button:focus {
    outline: none !important;
    box-shadow: none
}

.course-content {
    background: #fafafa;
    padding: 20px 0
}

.error-box .btn-primary:active:not(:disabled):not(.disabled) {
    background: var(--primary-color)
}

.course {
    border-radius: 5px;
    position: relative;
    margin-bottom: 25px
}

.course-content {
    position: relative
}

.course-title {
    font-size: 24px;
    margin: 0 0 20px;
    font-weight: 600;
    line-height: 1.3
}

.course-content p {
    margin: 0 0 20px;
    font-size: 14px;
    color: #685f78;
    font-weight: 400
}

.course-content h4 {
    font-size: 16px;
    color: #000;
    font-weight: 600
}

.category-widget .categories {
    list-style: none;
    margin: 0;
    padding: 0
}

.category-widget .categories li {
    margin-bottom: 20px
}

.category-widget .categories li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0
}

.category-widget .categories li a {
    color: #22100d;
    font-size: 14px;
    font-weight: 500
}

.category-widget .categories li a:hover {
    color: var(--primary-color)
}

.category-widget .categories>li>a>i {
    color: var(--primary-color);
    font-size: 18px;
    margin-left: 19px
}

.course-widget {
    padding: 20px;
    border: 1px solid #e9ecef;
    margin-bottom: 20px;
    border-radius: 10px
}

.course-widget .card-body {
    padding: 0
}

.course-widget .card-header {
    border-bottom: 0;
    padding: 0;
    margin-bottom: 20px
}

.course-widget .card-header .card-title {
    font-size: 18px;
    color: #0b0b0b;
    font-weight: 700
}

@media(max-width: 991.98px) {

    .container {
        max-width: 100%
    }

    .course-content {
        padding: 60px 0
    }

    .course-title {
        font-size: 20px
    }
}

@media(max-width: 767.98px) {
    body {
        font-size: 15px
    }

    .btn {
        font-size: 14px
    }

    .course-content {
        padding: 50px 0
    }

    .course-content {
        padding: 40px 0
    }

    .course-title {
        font-size: 18px
    }

    .course-widget .card-header {
        margin-bottom: 20px
    }
}

.card {
    border: 1px solid #e9ecef;
    margin-bottom: 1.875rem;
    border-radius: 0
}

.card-body {
    padding: 1.5rem
}

.form-control:focus {
    border-color: #bbb;
    box-shadow: none;
    outline: 0
}

.notification-title select:focus-visible {
    outline: 0
}

.notification-title select:focus-visible {
    outline: 0
}

:focus,
button:focus,
textarea.form-control:focus,
textarea:focus {
    outline: none !important;
    box-shadow: none
}

.subs-title {
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 20px
}

.instructor-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    align-items: center;
    border-bottom: 1px solid #c7c7c7;
    margin-bottom: 15px;
    flex-wrap: wrap
}

.about-instructor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.abt-instructor-img {
    margin-left: 10px
}

.abt-instructor-img img {
    width: 50px;
    height: 50px;
    border: 1px solid #e3e3e3;
    border-radius: 50%
}

.instructor-detail h5 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px
}

.instructor-detail p {
    font-size: 13px;
    color: #22100d;
    margin-bottom: 0
}

.rev-info {
    font-style: italic
}

.comment-sec .form-control {
    background: rgba(229, 229, 229, .42)
}

.submit-btn {
    font-weight: 500;
    color: var(--primary-color);
    border-radius: 50px;
    padding: 9px 15px;
    min-width: 150px;
    border: 4px solid transparent;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-image: linear-gradient(white, white), linear-gradient(to right, var(--primary-color), var(--primary-color))
}

.submit-btn:hover {
    background: var(--primary-color);
    color: #fff
}

.instructor-wrap .about-instructor {
    flex-wrap: wrap
}

.instructor-detail h5 {
    margin-bottom: 1px
}

.error-box .btn-primary:active:not(:disabled):not(.disabled) {
    background: #e72f41
}

@media(max-width: 1199.98px) {

    .instructor-detail h5 {
        font-size: 18px
    }
}

@media(max-width: 991.98px) {

    h5 {
        font-size: 18px
    }

    .instructor-detail h5 {
        font-size: 16px
    }
}

@media(max-width: 767.98px) {
    body {
        font-size: 15px
    }

    h5 {
        font-size: 16px
    }

    .btn {
        font-size: 14px
    }

    .instructor-detail h5 {
        font-size: 15px
    }
}