.custom_check {
    color: #685f78 !important;
    display: inline-block;
    position: relative;
    font-size: 14px !important;
    margin-bottom: 15px;
    padding-right: 25px;
    cursor: pointer;
    font-weight: 400 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 18px;
    font-family: noto sans, sans-serif
}

.custom_check input {
    position: absolute;
    opacity: 0;
    cursor: pointer
}

.custom_check input:checked~.checkmark {
    background-color: var(--primary-color);
    border-color: var(--primary-color)
}

.custom_check .checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 15px;
    width: 15px;
    border: 1px solid var(--primary-color);
    background-color: #fff;
    border-radius: 2px;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.custom_check .checkmark::after {
    content: "\e92b";
    font-family: feather !important;
    font-weight: 900;
    position: absolute;
    display: none;
    left: 2px;
    top: -2px;
    color: #fff;
    font-size: 9px
}

.custom_check input:checked~.checkmark:after {
    display: block
}

.search-filter .filter-widget h4 {
    color: #0b0b0b;
    font-size: 18px;
    font-weight: 700
}

.search-filter .filter-widget label {
    font-size: 14px
}

.search-filter .filter-widget .custom_check input {
    margin-right: 10px
}

.card.search-filter {
    margin-bottom: 20px;
    border-radius: 10px
}

.search-filter .card-body {
    padding: 20px
}

.categories-head i {
    margin-left: auto;
    margin-bottom: 15px
}

.filter-widget {
    margin-bottom: 20px
}

.filter-widget h4 {
    font-size: 1rem;
    margin-bottom: 15px
}

.filter-widget .custom_check {
    line-height: 18px
}

@media(max-width: 767.98px) {
    body {
        font-size: 15px
    }
}
.smalltext{
    display: inline-block;
}